<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="sa" class="in.ahmed.beans.ServiceA">
		<property name="serviceB" ref="sb"></property>
	</bean>

	<bean id="sb" class="in.ahmed.beans.ServiceB">
		<constructor-arg name="serivceA" ref="sa"></constructor-arg>
	</bean>
</beans>